#Carousel{
    width: 100%;
    margin-top: 20px;
    z-index: -1;
}
#minititle{
    font-style: italic;
    font-weight: lighter;
    margin-left: 15px;
    color: gray;
}
#wrap{
    margin-left: 15%;
    margin-right: 15%;
}
.arrows{
    width: 10px;
    margin-left: 15px;
}
h3{
    background-color: #f2efea;
    height: 38px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}
.filterlink{
    color: black;
}
h2{
    font-size: 22px;
    font-weight: bold;
}
select{
    height: 40px;
    width: 20%;
    font-weight: bold;
    margin-right: 10px;
}
.color{
    width: 10%;
}
.item {
    position: relative;
}
.itemHearts {
    color: pink;
    position: absolute;
    top: 0;
    right: 13px;
    font-size: 34px;
}
.itemHearts:hover {
    font-weight: bolder;
    cursor: pointer;
}
.lovedItemHearts {
    color: red;
    position: absolute;
    top: 0;
    right: 13px;
    font-size: 34px;
}
.lovedItemHearts:hover {
    font-weight: bolder;
    cursor: pointer;
}
#itemwrap{
    margin-top: 10px;
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
.itemPics{
   height: 250px;
}

#itemNav {
    margin-left: 0px;
}
.selectedCategory {
    color: pink;
}
.unselectedCategory {
    color: black;
}
.pageNumber {
    color: gray;
}
.boldPageNumber {
    color: black;
    font-weight: bold;
}