#adCarousel {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#minititle{
    font-style: italic;
    font-weight: lighter;
    margin-left: 15px;
    color: gray;
}
#wrap{
    margin-left: 15%;
    margin-right: 15%;
}
.arrows{
    width: 10px;
    margin-left: 15px;
}
h3{
    background-color: #f2efea;
    height: 38px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}
.filterlink{
    color: black;
}
h2{
    font-size: 22px;
    font-weight: bold;
}
select{
    height: 40px;
    width: 20%;
    font-weight: bold;
    margin-right: 10px;
}
.color{
    margin: .2em;
    padding: .2em;
    width: 15%;
}
.selectedColor {
    border: .1em solid gray;
    border-radius: 2em;
}
.item {
    position: relative;
}
.itemHearts {
    color: pink;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
}
.itemHearts:hover {
    font-weight: bolder;
    cursor: pointer;
}
.lovedItemHearts {
    color: red;
    font-weight: bolder;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
}
.lovedItemHearts:hover {
    font-weight: bolder;
    cursor: pointer;
}
#itemwrap{
    margin-top: 10px;
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
.itemPics{
   height: 250px;
}
.itemPics:hover{
    cursor: pointer;
 }
#itemNav {
    margin-left: 0px;
}
.selectedText {
    color: rgb(77, 77, 77);
    margin: .3em;
    font-weight: bold;
}
.unselectedText {
    color: #9b9b9b;
    margin: .3em;
    font-weight: lighter;
}
.pageNumber {
    color: gray;
}
.hoverLight:hover {
    color: #c1c1c1;
}
.boldPageNumber {
    color: black;
    font-weight: bold;
}
#modalMain {
    border-radius: 0;
    border: .1em solid #464646;
    box-shadow: none;
    text-align: center;
    color: #272727;
}
#exampleModalLongTitle {
    font-size: 2em;
}
#modalText {
    margin: 1em;
}
.modalLinks {
    color: #d07d8c;
    text-decoration: none;
}
.modalLinks:hover {
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}
#headerPhoto {
    width: 50rem;
}
@media (max-width: 767px) { 
    .noMobile {
        display: none;
    }
    #main, #wrap {
        margin: 0rem;
        padding: 0rem;
    }
    #mainWrap {
        margin: 1rem;
        padding-right: 1rem;
    }
    .mobileFilters {
        height: 2.5rem;
        background-color: #f7f2ee;
        width: 48%;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        margin: 0rem;
    }
    #itemNav {
        justify-content: space-between;
    }
    .itemPics {
        height: 12rem;
    }
}