<div id="wrap">
    <div id="adCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100" src="/assets/images/daycar1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="/assets/images/daycar3.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
            <img class="d-block w-100" src="/assets/images/daycar2.jpg" alt="Third slide">
            </div>
        </div>
    </div>
    <div class="row">
        <p id="minititle" (click)="filtering()">Daylight</p>
    </div>
    <div class="row">
        <div id="filter" class="col-md-3">
            <div>
                <h3>Category</h3>
                <div class="row">
                    <!-- <img src="/assets/images/arrow.svg" alt="bloop" class="col arrows"> -->
                    <span class="col filterlink cursor hoverLight" [ngClass]="{selectedText: categoryCheck.school, unselectedText: !categoryCheck.school}"
                    (click)="categoryFilter('school')">School</span>
                </div>
                <div class="row">
                    <!-- <img src="/assets/images/arrow.svg" alt="bloop" class="col arrows"> -->
                    <span href="" class="col filterlink cursor hoverLight" [ngClass]="{selectedText: categoryCheck.casual, unselectedText: !categoryCheck.casual}"
                    (click)="categoryFilter('casual')">Casual</span>
                </div>
                <div class="row">
                    <!-- <img src="/assets/images/arrow.svg" alt="bloop" class="col arrows"> -->
                    <span href="" class="col filterlink cursor hoverLight" [ngClass]="{selectedText: categoryCheck.dresses, unselectedText: !categoryCheck.dresses}"
                    (click)="categoryFilter('dresses')">Dresses</span>
                </div>
            </div>
            <div>
                <h3>Color</h3>
                <div id="colors">
                    <img src="/assets/images/pinkcirc.png" id="pink" [ngClass]="{selectedColor: colorCheck.pink}" class="color cursor" (click)="colorFilter('pink')">
                    <img src="/assets/images/yellowcirc.png" id="yellow" [ngClass]="{selectedColor: colorCheck.yellow}" class="color cursor" (click)="colorFilter('yellow')">
                    <img src="/assets/images/bluecirc.png" id="blue" [ngClass]="{selectedColor: colorCheck.blue}" class="color cursor" (click)="colorFilter('blue')">
                    <img src="/assets/images/greencirc.png" id="green" [ngClass]="{selectedColor: colorCheck.green}" class="color cursor" (click)="colorFilter('green')">
                    <img src="/assets/images/purplecirc.svg" id="purple" [ngClass]="{selectedColor: colorCheck.purple}" class="color cursor" (click)="colorFilter('purple')">
                    <img src="/assets/images/redcirc.png" id="red" [ngClass]="{selectedColor: colorCheck.red}" class="color cursor" (click)="colorFilter('red')">
                </div>
            </div>
            <div>
                <h3>Size</h3>
                <span class="size cursor hoverLight" [ngClass]="{selectedText: sizeCheck.XL, unselectedText: !sizeCheck.XL}" (click)="sizeFilter('XL')">XL</span>
                <span class="size cursor hoverLight" [ngClass]="{selectedText: sizeCheck.L, unselectedText: !sizeCheck.L}" (click)="sizeFilter('L')">L</span>
                <span class="size cursor hoverLight" [ngClass]="{selectedText: sizeCheck.M, unselectedText: !sizeCheck.M}" (click)="sizeFilter('M')">M</span>
                <span class="size cursor hoverLight" [ngClass]="{selectedText: sizeCheck.S, unselectedText: !sizeCheck.S}" (click)="sizeFilter('S')">S</span>
                <span class="size cursor hoverLight" [ngClass]="{selectedText: sizeCheck.XS, unselectedText: !sizeCheck.XS}" (click)="sizeFilter('XS')">XS</span>
            </div>
            <div>
                <h3>Price</h3>
                <ng5-slider [(value)]="startRange" [(highValue)]="endRange" [options]="options" (userChange)="rangeFilter()"></ng5-slider>
            </div>
        </div>
        <div id="main" class="col-md-9">
            <h2>Daylight</h2>
            <div id="itemNav" class="row">
                <select class="col-md-2" (change)="orderFilter($event)">
                    <option>Newest</option>
                    <option>Cheapest</option>
                    <option>Popular</option>
                </select>
                <select class="col-md-2" (change)="amountFilter($event)">
                    <option>Show 25</option>
                    <option>Show 50</option>
                    <option>Show 100</option>
                </select>
                <div class="col-md-6 align-self-end">
                    <span>{{(outfits.length * currentPageIndex) + 1}} - {{outfits.length * (currentPageIndex + 1)}} of {{totalOutfitObjects.length}} Results</span>
                    <span class="cursor" (click)="changePageIndex('previous')"><</span>
                        <span *ngFor="let page of allPages; let i = index">
                            <span class="cursor pageNumber hoverLight" (click)="changePageIndex(i)" [ngClass]="{boldPageNumber: currentPageIndex == i}">
                                {{i + 1}}
                            </span>
                        </span>
                    <span class="cursor" (click)="changePageIndex('next')">></span>
                </div>
            </div>
            <div id="itemContainer">
                <div id="itemwrap" *ngFor="let outfit of outfits">
                    <div class="item">
                        <img [routerLink]="['/outfit', outfit.title]" (click)="selectItem(outfit)" class="itemPics" src="{{outfit.image}}" alt="bloop">
                        <p>{{outfit.title}}</p>
                        <i (click)="heartClicked(outfit._id)" [ngClass]="checkIfLiked(outfit._id) ? 'lovedItemHearts' : 'itemHearts'" class="far fa-heart clickable" data-toggle="modal" data-target="#regPrompt"></i>
                        <p>{{outfit.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

      <!-- Modal -->
      <div *ngIf="regPrompt" class="modal fade" id="regPrompt" tabindex="-1" role="dialog" aria-labelledby="regPromptTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div id="modalMain" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="regPromptLongTitle">Oh! You're not Logged in!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="modalText">To like an item please <a class="modalLinks" (click)="reRoute('login')" data-dismiss="modal">login</a> or <a class="modalLinks" (click)="reRoute('register')" data-dismiss="modal">register</a> so we can become better acquainted.</p>
            </div>
          </div>
        </div>
      </div>
