*{
    font-weight: bold;
}
#wrap{
    background-color: #ffece9;
}
main {
    margin-top: 3rem;
}
section {
    display: flex;
    justify-content: center;
    height: 100%;
}
#login{
    background-color: white;
    margin-top: 70px;
    width: 75%;
}
#order{
    background-color: white;
    margin-top: 70px;
    width: 75%;
    margin-bottom: 40px;
}
h1{
    font-family: "Didot", serif;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: lighter;
}
.inputs{
    margin-bottom: .5rem;
    width: 10rem;
}
.info{
    margin-left: 40px;
    margin-top: 0px;
    padding-top: 10px;
}
.buttons {
    height: 2.5rem;
    width: 75%;
    background-color: #c9ebde;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #035256;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}
p {
    color: gray;
}
.clickable {
    cursor: pointer;
}
.link {
    color: rgb(192, 192, 192);
}
.link:hover {
    color: gray;
}