<div id="wrap">
  <div id="join">
    <div id="info" class="container">
      <div class="row">
        <h1 class="col">Register</h1>
      </div>
      <form (submit)="register()">
        <div class="row justify-content-between sectitle">
          <p class="col-md-6">Name</p>
          <p class="col-md-6 val" class="required">Required*</p>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-12 inputs">
            <p class="col-md-2" class="inputTitles"><span class="required">*</span>First Name</p>
            <input class="formInputs" type="text" name="firstName" #firstName="ngModel" required [(ngModel)]="reg.firstName">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-12 inputs">
            <p class="col-md-2" class="inputTitles"><span class="required">*</span>Last Name</p>
            <input class="formInputs" type="text" name="lastName" #lastName="ngModel" required [(ngModel)]="reg.lastName">
          </div>
        </div>
        <div class="row justify-content-between sectitle">
          <p class="col-md-6">Login Information</p>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-12 inputs">
            <p class="col-md-2" class="inputTitles"><span class="required">*</span>Email</p>
            <input class="formInputs" type="text" name="email" #email="ngModel" required [(ngModel)]="reg.email">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-12 inputs">
            <p class="col-md-2" class="inputTitles"><span class="required">*</span>Confirm Email</p>
            <input class="formInputs" type="text" name="cemail" #cemail="ngModel" required [(ngModel)]="reg.cemail">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-12 inputs">
            <p class="col-md-2" class="inputTitles"><span class="required">*</span>Password</p>
            <input class="formInputs" type="password" name="password" #password="ngModel" required [(ngModel)]="reg.password">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-12 inputs">
            <p class="col-md-2" class="inputTitles"><span class="required">*</span>Confirm Password</p>
            <input class="formInputs" type="password" name="cpassword" #cpassword="ngModel" required [(ngModel)]="reg.cpassword">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-md-12 inputs">
            <p class="col-md-2" class="inputTitles">Admin Password</p>
            <input class="formInputs" type="password" name="admin" #cpassword="ngModel" required [(ngModel)]="reg.admin">
          </div>
        </div>
        <div id="submitWrap" class="row justify-content-center centering">
          <input class="clickable" id="submit" type="submit" value="Continue">
        </div>
      </form>
    </div>
  </div>
</div>
