#wrap{
    background-color: #ffece9;
    padding: 7rem;
    margin: 3rem;
}
#join{
    background-color: white;
    padding: 3rem;
}
#copy{
    background-color: white;
    width: 1000px;
    margin-top: 70px;
    margin-bottom: 70px;
}
/* #info{
    margin-left: 40px;
    margin-top: 50px;
} */
h1{
    font-family: "Didot", serif;
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
}
p{
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0rem;
}
.sectitle{
    border-bottom: 1px solid #ffdad4;
    margin-bottom: 10px;
}
.val{
    color: gray;
}
.formInputs{
    height: 2rem;
    width: 20rem;
    position: absolute;
    right: 6rem;
}
.inputs{
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    padding-left: 7rem;
}
#submit{
    height: 45px;
    width: 230px;
    background-color: #c9ebde;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #035256;
    margin-top: 20px;
    margin-bottom: 50px;
}
#offeremail{
    display: block;
    width: 370px;
}
#offersubmit{
    background-color: #f6898a;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    width: 160px;
}
.linkdata a{
    display: block;
    align-items: center;
}
#offers{
    margin-top: 50px;
}
.centering {
    display: flex;
    justify-content: center;
}
.required {
    color: red;
}
.inputTitles {
    color: gray;
}
.clickable {
    cursor: pointer;
}
@media (max-width: 1215px) { 
    .inputs {
        padding-left: 0rem;
    }
    .formInputs {
        right: 0rem;
    }
}
@media (max-width: 990px) { 
    #wrap {
        padding: 1rem;
        margin: 1rem;
    }
    #join {
        padding: 1rem;
    }
    .inputs {
        display: block;
    }
    .formInputs {
        width: 17rem;
    }
    p {
        margin-top: 1rem;
    }
    #submitWrap {
        margin-top: 1rem;
    }
}