<section id="sideBar" [ngClass]="{hide: !sideBar}">
  <span id="sideBarTop" class="sideBarRow">
    <i class="fas fa-search boldGray clickable"></i><span class="clickable hoverFocus" (click)="toggleSideBar()">&times;</span>
  </span>
  <span [ngClass]="{expanded: sideMenu.daylight}" id="sideBarDaylight" class="sideBarRow sbrHeader clickable"><a class="hoverFocus" [routerLink]="['daylight']">Daylight</a><i [ngClass]="{hide: !sideMenu.daylight}" (click)="closeNav('daylight')" class="fas fa-chevron-down clickable hoverFocus"></i><i (click)="expandNav('daylight')" [ngClass]="{hide: sideMenu.daylight}" class="fas fa-chevron-right clickable hoverFocus"></i></span>
  <span [ngClass]="{hide: !sideMenu.daylight}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">School</a></span>
  <span [ngClass]="{hide: !sideMenu.daylight}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">Dresses</a></span>
  <span [ngClass]="{hide: !sideMenu.daylight}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">Casual</a></span>
  <span [ngClass]="{expanded: sideMenu.moonlight}" id="sideBarMoonlight" class="sideBarRow sbrHeader clickable"><a class="hoverFocus" [routerLink]="['moonlight']">Moonlight</a><i [ngClass]="{hide: !sideMenu.moonlight}" (click)="closeNav('moonlight')" class="fas fa-chevron-down clickable hoverFocus"></i><i (click)="expandNav('moonlight')" [ngClass]="{hide: sideMenu.moonlight}" class="fas fa-chevron-right clickable hoverFocus"></i></span>
  <span [ngClass]="{hide: !sideMenu.moonlight}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">Battle Wear</a></span>
  <span [ngClass]="{hide: !sideMenu.moonlight}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">Disguises</a></span>
  <span [ngClass]="{hide: !sideMenu.moonlight}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">Kingdom Wear</a></span>
  <span [ngClass]="{expanded: sideMenu.accessories}" id="sideBarAccessories" class="sideBarRow sbrHeader clickable"><a class="hoverFocus" [routerLink]="['accessories']">Accessories</a><i [ngClass]="{hide: !sideMenu.accessories}" (click)="closeNav('accessories')" class="fas fa-chevron-down clickable hoverFocus"></i><i (click)="expandNav('accessories')" [ngClass]="{hide: sideMenu.accessories}" class="fas fa-chevron-right clickable hoverFocus"></i></span>
  <span [ngClass]="{hide: !sideMenu.accessories}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">Wands</a></span>
  <span [ngClass]="{hide: !sideMenu.accessories}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">Weapons</a></span>
  <span [ngClass]="{hide: !sideMenu.accessories}" class="sideBarRow sbrItem"><a class="clickable hoverFocus">Jewelry</a></span>
  <section id="sideLoginArea">
    <p *ngIf="loggedList.length === 0" id="user-side">
      <a [routerLink]="['login']" (click)="toggleSideBar()" class="tinyText boldGray tinySpaces">Sign In</a>
      <span class="tinyText boldGray tinySpaces">|</span>
      <a [routerLink]="['join']" (click)="toggleSideBar()" class="tinyText boldGray tinySpaces">Join</a>
    </p>
    <p *ngIf="loggedList.length > 0" id="user-side">
      <a id="logout" (click)="logout()" (click)="toggleSideBar()" class="tinyText boldGray tinySpaces">Logout</a>
      <span class="tinyText boldGray tinySpaces">|</span>
    </p>
  </section>
</section>
<main>
  <header class="container-fluid noPadding">
    <p id="topAdd" class="text-center tinyText mobileNone">Free Shipping on $75+ Orders and Free Returns</p>
    <nav class="lightBeige">
      <section class="row header" id="titleRow">
        <i class="fas fa-search boldGray mobileNone abLeft"></i>
        <i class="fas fa-bars mobileOnly hoverFocus" (click)="toggleSideBar()" [ngClass]="{hide: sideBar}"></i>
        <a [routerLink]="['']" id="title" class="mutedNavy absolute">MoonCloth</a>
        <p *ngIf="loggedList.length === 0" id="user-side">
          <a [routerLink]="['login']" class="tinyText boldGray tinySpaces mobileNone">Sign In</a>
          <span class="tinyText boldGray tinySpaces mobileNone">|</span>
          <a [routerLink]="['join']" class="tinyText boldGray tinySpaces mobileNone">Join</a>
          <i [routerLink]="['loves']" id="emptyHeart" class="far fa-heart hearts clickable"></i>
        </p>
        <p *ngIf="loggedList.length > 0" id="user-side">
          <a id="logout" (click)="logout()" class="tinyText boldGray tinySpaces mobileNone">Logout</a>
          <span class="tinyText boldGray tinySpaces mobileNone">|</span>
          <i [routerLink]="['loves']" id="emptyHeart" class="far fa-heart hearts clickable"></i>
        </p>
      </section>
      <section id="mainLinkArea" class="row lightBeige mobileNone">
        <a (mouseenter)="initMenu('daylightNAV')" (mouseleave)="closeMenu('daylightNAV')" (click)="closeMenu('daylightNAV')" class="nav mutedNavy tinyText" [routerLink]="['daylight']">Daylight</a>
        <a (mouseenter)="initMenu('moonlightNAV')" (mouseleave)="closeMenu('moonlightNAV')" (click)="closeMenu('moonlightNAV')" class="nav mutedNavy tinyText" [routerLink]="['moonlight']">Moonlight</a>
        <a (mouseenter)="initMenu('accessoriesNAV')" (mouseleave)="closeMenu('accessoriesNAV')" (click)="closeMenu('accessoriesNAV')" class="nav mutedNavy tinyText" [routerLink]="['accessories']">Accessories</a>
        <a (mouseenter)="initMenu('moongalleryNAV')" (mouseleave)="closeMenu('moongalleryNAV')" (click)="closeMenu('moongalleryNAV')" class="nav mutedNavy tinyText" [routerLink]="['moon-gallery']">Outfit Photos</a>
        <a [routerLink]="['admin']" *ngIf="admin === 'yay'">Admin Tools</a>
      </section>
    </nav>
    <div class="container-fluid sub-menu-wrap menus lightBeige" *ngIf="currentMenu == 'daylight'" (mouseleave)="closeMenu('daylight')" (mouseenter)="initMenu('daylight')">
      <div class="row subContentWrap">
        <section class="linkCategories">
          <span class="grayBottomBorder boldGray tinyText">Categories</span>
          <section  class="subMenuLinksArea">
            <a class="link-lines tinyText" [routerLink]="['daylight/school']">School</a>
            <a class="link-lines tinyText" [routerLink]="['daylight/dresses']">Dresses</a>
            <a class="link-lines tinyText" [routerLink]="['daylight/casual']">Casual</a>
          </section>
        </section>
        <section class="linkCategories">
          <span class="grayBottomBorder boldGray tinyText">Features</span>
          <section  class="subMenuLinksArea">
            <a class="link-lines tinyText" [routerLink]="['bloop']">Inner Senshi</a>
            <a class="link-lines tinyText" [routerLink]="['bloop']">Outer Senshi</a>
          </section>
        </section>
        <section class="col-md-4 subPhotos">
          <div class="menuPicGroup">
            <img class="menupic" id="day1" src="/assets/images/incas1.jpg" alt="bloop">
            <p class="mctext tinyText">Spring Looks</p>
          </div>
          <div class="menuPicGroup">
            <img class="menupic" id="day2" src="/assets/images/outcas3.jpg" alt="bloop">
            <p class="mctext tinyText">Recital Collection</p>
          </div>
        </section>
      </div>
    </div>
    <div class="container-fluid sub-menu-wrap menus lightBeige" *ngIf="currentMenu == 'moonlight'" (mouseenter)="initMenu('moonlight')" (mouseleave)="closeMenu('moonlight')">
      <div class="row subContentWrap">
        <section class="linkCategories">
          <span class="grayBottomBorder boldGray tinyText">Categories</span>
          <section  class="subMenuLinksArea">
            <a class="link-lines tinyText" [routerLink]="['daylight/school']">Battle Wear</a>
            <a class="link-lines tinyText" [routerLink]="['daylight/dresses']">Disguises</a>
            <a class="link-lines tinyText" [routerLink]="['daylight/casual']">Kingdom Wear</a>
          </section>
        </section>
        <section class="linkCategories">
          <span class="grayBottomBorder boldGray tinyText">Features</span>
          <section  class="subMenuLinksArea">
            <a class="link-lines tinyText" [routerLink]="['bloop']">Inner Senshi</a>
            <a class="link-lines tinyText" [routerLink]="['bloop']">Outer Senshi</a>
          </section>
        </section>
        <section class="col-md-4 subPhotos">
          <div class="menuPicGroup">
            <img class="menupic" id="day1" src="/assets/images/incas1.jpg" alt="bloop">
            <p class="mctext tinyText">Spring Looks</p>
          </div>
          <div class="menuPicGroup">
            <img class="menupic" id="day2" src="/assets/images/outcas3.jpg" alt="bloop">
            <p class="mctext tinyText">Recital Collection</p>
          </div>
        </section>
      </div>
    </div>
    <div class="container-fluid sub-menu-wrap menus lightBeige" *ngIf="currentMenu ==  'accessories'" (mouseenter)="initMenu('accessories')" (mouseleave)="closeMenu('accessories')">
      <div class="row subContentWrap">
        <section class="linkCategories">
          <span class="grayBottomBorder boldGray tinyText">Categories</span>
          <section  class="subMenuLinksArea">
            <a class="link-lines tinyText" [routerLink]="['daylight/school']">Accessories</a>
            <a class="link-lines tinyText" [routerLink]="['daylight/dresses']">Disguises</a>
            <a class="link-lines tinyText" [routerLink]="['daylight/casual']">Kingdom Wear</a>
          </section>
        </section>
        <section class="linkCategories">
          <span class="grayBottomBorder boldGray tinyText">Features</span>
          <section  class="subMenuLinksArea">
            <a class="link-lines tinyText" [routerLink]="['bloop']">Inner Senshi</a>
            <a class="link-lines tinyText" [routerLink]="['bloop']">Outer Senshi</a>
          </section>
        </section>
        <section class="col-md-4 subPhotos">
          <div class="menuPicGroup">
            <img class="menupic" id="day1" src="/assets/images/incas1.jpg" alt="bloop">
            <p class="mctext tinyText">Spring Looks</p>
          </div>
          <div class="menuPicGroup">
            <img class="menupic" id="day2" src="/assets/images/outcas3.jpg" alt="bloop">
            <p class="mctext tinyText">Recital Collection</p>
          </div>
        </section>
        </div>
    </div>
    <div class="container-fluid sub-menu-wrap menus lightBeige" *ngIf="currentMenu ==  'moongallery'" (mouseenter)="initMenu('moongallery')" (mouseleave)="closeMenu('moongallery')">
      <div class="row subContentWrap">
        <section class="linkCategories">
          <span class="grayBottomBorder boldGray tinyText">Categories</span>
          <section  class="subMenuLinksArea">
            <a class="link-lines tinyText" [routerLink]="['daylight/school']">Moon Gallery</a>
            <a class="link-lines tinyText" [routerLink]="['daylight/dresses']">Disguises</a>
            <a class="link-lines tinyText" [routerLink]="['daylight/casual']">Kingdom Wear</a>
          </section>
        </section>
        <section class="linkCategories">
          <span class="grayBottomBorder boldGray tinyText">Features</span>
          <section  class="subMenuLinksArea">
            <a class="link-lines tinyText" [routerLink]="['bloop']">Inner Senshi</a>
            <a class="link-lines tinyText" [routerLink]="['bloop']">Outer Senshi</a>
          </section>
        </section>
        <section class="col-md-4 subPhotos">
          <div class="menuPicGroup">
            <img class="menupic" id="day1" src="/assets/images/incas1.jpg" alt="bloop">
            <p class="mctext tinyText">Spring Looks</p>
          </div>
          <div class="menuPicGroup">
            <img class="menupic" id="day2" src="/assets/images/outcas3.jpg" alt="bloop">
            <p class="mctext tinyText">Recital Collection</p>
          </div>
        </section>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  
  <footer class="container-fluid lightBeige">
    <div class="row" id="footerLinkWrap">
      <div class="linkdata">
        <p>ACCOUNT</p>
        <a class="tinyText footerLinks" href="">My Info</a>
        <a class="tinyText footerLinks" href="">My Loved Items</a>
        <a class="tinyText footerLinks" href="">Wishlist</a>
      </div>
      <div class="linkdata">
        <p>COMPANY</p>
        <a class="tinyText footerLinks" href="">About Us</a>
        <a class="tinyText footerLinks" href="">Blog</a>
        <a class="tinyText footerLinks" href="">Careers</a>
      </div>
      <div class="linkdata">
        <p>FOLLOW</p>
        <a class="tinyText footerLinks" href="">Image</a>
        <a class="tinyText footerLinks" href="">Image</a>
        <a class="tinyText footerLinks" href="">Image</a>
      </div>
    </div>
  </footer>
</main>