/* Universal */
*{
    font-weight: bold;
}
.tinyText {
    font-size: .7rem;
}
.tinySpaces {
    margin: .1rem;
}
.boldGray {
    color: #909090;
}
.mutedNavy {
    color: #47505f;
}
.lightBeige {
    background-color: #F9F6F4;
}
.noPadding {
    padding: 0;
}
/* Large Devices */
#topAdd{
    height: 37px;
    background-color: #ce77aa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    margin: 0;
}
#emptyHeart {
    color: #f6898a;
    font-weight: normal;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.test{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}
#titleRow{
    height: 5.6rem;
    padding-top: 1.3rem;
}
#title{
    font-family: 'Lobster', cursive;
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 0px;
    position: absolute;
}
#mainLinkArea {
    display: flex;
    justify-content: center;
}
.hideNavPadding {
    display: none;
}
input[type=text] {
    width: 13px;
    box-sizing: border-box;
border:0;
    outline: none;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float:right;
}

input[type=text]:focus {
    width: 300px;
    border-top: 0;
    border-right:0;
    border-left:0;
    border-bottom: 1px solid #ddd;
}

a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
a:hover{
    color: black;
    text-decoration: none;
}
#user-side{
    padding-top: 30px;
    position: absolute;
    right: 20%;
}
.abLeft {
    position: absolute;
    left: 20%;
}
.nav{
    display: inline-block;
    padding: 0 1rem .7rem 1rem;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.nav:hover{
    text-decoration-line: none;
    padding-bottom: .5rem;
    border-bottom: .2rem solid #f09a8b80;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.menus{
    width: 100%;
    height: 300px;
    position: absolute;
    border-bottom: .1rem solid #f09a8b59;
}
.subMenuLinksArea {
    margin-top: 1rem;
}
.sub-menu-wrap{
    z-index: 3;
    align-items: center;
}
.sub-menu{
    width: 1100px;
}
.subContentWrap {
    margin-top: 2rem;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-evenly;
}
.subPhotos {
    display: flex;
    align-items: flex-end;
}
.menuPicGroup{
    margin: .3rem;
}
.menupic {
    width: 9rem;
}
.mctext{
    padding-left: 5px;
}
.centering {
    display: flex;
    justify-content: center;
}
.link-lines{
    margin-bottom: .5rem;
    margin-top: .5rem;
    padding-bottom: .2rem;
    display: table;
}
.link-lines:hover {
    padding-bottom: .1rem;
    border-bottom: .1rem solid #ddd;
}
.grayBottomBorder{
    border-bottom: 1px solid #ddd;
    padding-bottom: .2rem;
}
#wrap{
    background-color: #f7f2ee;
    margin-top: 15px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
#join{
    background-color: white;
    width: 1000px;
    margin-top: 70px;
}
#logout:hover {
    cursor: pointer;
}
#info{
    margin-left: 40px;
    margin-top: 50px;
}
h1{
    font-family: "Didot", serif;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 30px;
}
p{
    font-weight: bold;
    margin-bottom: 15px;
    padding: 0px;
}
.sectitle{
    width: 890px;
    border-bottom: 1px solid #ffdad4;
    margin-bottom: 10px;
}
.val{
    color: gray;
}
input{
    height: 45px;
    width: 500px;
}
.inputs{
    margin-bottom: 10px;
    margin-top: 10px;
}
#submit{
    height: 45px;
    width: 230px;
    background-color: #c9ebde;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #035256;
    margin-top: 20px;
    margin-bottom: 50px;
}
#offeremail{
    display: block;
    width: 370px;
}
#offersubmit{
    background-color: #f6898a;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    width: 160px;
}
.linkdata{
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    text-align: -webkit-center;
}
#offers{
    margin-top: 50px;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 3rem;
}
.footerLinks {
    display: table;
    padding-bottom: .2rem;
}
.footerLinks:hover {
    padding-bottom: .1rem;
    border-bottom: .1rem solid #ffc5bc;
}
.mobileOnly {
    display: none;
}
.clickable {
    cursor: pointer;
}
section.hide {
    display: none;
}
.itemHearts {
    color: pink;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
}
.itemHearts:hover {
    font-weight: bolder;
    cursor: pointer;
}
.lovedItemHearts {
    color: red;
    font-weight: bolder;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
}
.lovedItemHearts:hover {
    font-weight: bolder;
    cursor: pointer;
}
@media (max-width: 767px) { 
    .mobileNone, #topAdd, #mainLinkArea {
        display: none;
    }
    #titleRow {
        padding: 0;
        height: 3rem;
    }
    #title {
        font-size: 1.4rem;
    }
    #user-side {
        padding: 0;
        margin: 0;
        right: 1rem;
    }
    i.mobileOnly {
        display: inline-block;
        position: absolute;
        left: 1rem;
        color: #909090;
    }
    i.hide, .hide, span.hide {
        display: none;
    }
    i.mobileOnly:hover {
        cursor: pointer;
        color: black;
    }
    #sideBar {
        position: absolute;
        background-color: #F9F6F4;
        height: 100%;
        z-index: 1;
    }
    .sideBarRow {
        width: 14.2rem;
        border-right: .05rem solid #ddd;
        border-bottom: .05rem solid #ddd;
        height: 2.2rem;
        color: #767676;
        padding-left: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 1rem;
    }
    #sideBarTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.2rem;
    }
    .sbrHeader {
        color: #767676;
    }
    .clickable {
        cursor: pointer;
    }
    .sbrItem > a {
        font-weight: normal;
        color: black;
    }
    .sbrItem {
        padding-left: 3rem;
    }
    .hoverFocus:hover, a.hoverFocus:hover, i.hoverFocus:hover {
        color: #035256;
    }
    span.expanded{
        border-bottom-color: #f6898a;
    }
    footer {
        padding: 2rem;
    }
 }