#moonAd{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}
#dayAd{
    width: 80%;
    margin-right: 20%;
    margin-top: 40px;
}
#accessAd{
    width: 80%;
    margin-left: 20%;
    margin-top: 40px;
}