<main>
  <div id="moonAd" class="images"></div>
  <div id="daylight" class="images"></div>
  <div id="access" class="images"></div>
</main>
<footer>
  <section id="about">
    <h3>MoonCloth</h3>
    <p class="tinyText boldGray">At ModCloth, there's no such thing as an ordinary outfit. We offer women's clothing with hand-drawn prints and classic silhouettes that celebrate our community. What's more, our products are available in a diverse size range, from 00-28, including plus sizes. Our unique assortment is available online and in stores across the country, where you can meet with ModStylists® for complimentary fit and styling consultations. The ModCloth community's not afraid to wear what they want, go against the current, and be unapologetically themselves.</p>
    <p class="tinyText boldGray">ModCloth is a one-stop shop for everything ranging from casual dresses to wedding dresses, cozy sweaters to pulled-together blouses, shoes and handbags, to home decor. We pay attention to every detail, which means you'll find an elevated aesthetic throughout our entire collection - even our in-house swimwear. Designed to make your everyday special and expressive, ModCloth clothes are an individualist's greatest style secret. And, the best part? Find dresses that flatter you, versatile tops and pants, and flirty skirts.</p>
    <p class="tinyText boldGray">ModCloth makes shopping for workwear, weekend outfits, party dresses, and formal clothes a perfectly positive experience, and once you have your ingenious ensemble pieced together, we invite you to share your outfit ideas with our community of independent women. Our supportive culture makes dresses, separates, accessories, and shoes mean so much more than simply clothing. With an entire community cheering on your individuality and self-expression through tops, bottoms, and amazing accessories, you will undoubtedly feel like the best version of yourself.</p>
    <p class="tinyText boldGray">So, are you ready to rep special occasion dresses to stop traffic, bridesmaids dresses to take the cake, coats and jackets to steal the spotlight, and shoes to rule the world in? Let your unique spirit shine with ModCloth clothing, accessories, and shoes highlighting your amazing style. More</p>
  </section>
</footer>
