main {
    padding: 3rem;
}
.tinyText {
    font-size: .7rem;
}
.boldGray {
    color: #909090;
}
h3 {
    color: #5d5d5d;
}
#about {
    padding-left: 23%;
    padding-right: 23%;
}
.images {
    height: 27rem;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
#moonAd {
    background-image: url("/assets/images/MoonAd.jpg");
}
#daylight {
    background-image: url("/assets/images/daylightad.jpg");
}
#access {
    background-image: url("/assets/images/accessad.jpg");
}
@media (max-width: 767px) { 
    #moonAd {
        background-image: url("/assets/images/MoonAdCrop.jpg");
    }
    #daylight {
        background-image: url("/assets/images/daylightadCrop.jpg");
    }
    #access {
        background-image: url("/assets/images/accessadCrop.jpg");
    }
    #about {
        padding-left: 10%;
        padding-right: 10%;
    }
 }